body, html {
	font-family: 'Mitr', sans-serif;	
}
body {
	background-image: url("../images/background.jpg");
}
.character, .enemy, .currentTarget {
	width: 180px;
	height: 180px;	
	margin: 10px;
	border-radius: 20px;
	border: 1px solid #5d768e;
} 

.avengers {
	background-image: url("../images/bg_avengers.png");
}

.hydra {
	background-image: url("../images/bg_hydra.png");
}

.imgOverlay {
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.box {
	/*border: 1px solid red;*/
}

.hideOnStart {
	display: none;
}

.currentStats {
	display: none;
	margin-top: 12px;
	font-weight: 600;
}
#currentHeroStats {
	display: none;
	margin-top: 12px;
	font-weight: 600;
}
h2 {
	font-weight: 600;
	/*background-color: rgba(40,96,144,0.4);*/
	background-color: rgba(131, 101, 111, 0.69);
	padding: 15px;
	border-radius: 10px;
	color: #fef5d8;
}
